body {
  cursor: default;
}
#styleDetails{
  width: auto;
  height: auto;
  color: #1b1b1b !important;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  background-color: #f4f4f4;
  border-top-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-left-width: 10px !important;
  border-style: solid;
  border-color: blue;
  border-radius: 8px;
  padding: 8px 10px;
  box-shadow: 3px 4px 5px 0px rgb(193 193 193 / 50%);
  position: absolute;
  z-index: 9999;
  left: 0;
  top: 0;
}

#styleDetails span{
  color: #a30008 !important;
  padding: 0 10px;
}

#closeFontDetails{
  width: auto;
  height: auto;
  background-color: #f4f4f4;
  color: #a30008 !important;
  font-weight: 500;
  border-top-width: 2px !important;
  border-right-width: 2px !important;
  border-bottom-width: 2px !important;
  border-left-width: 10px !important;
  border-style: solid;
  border-color: blue;
  border-radius: 5px;
  padding: 8px 10px;
  box-shadow: 3px 4px 5px 0px rgb(193 193 193 / 50%);
  cursor: pointer;
  position: fixed;
  z-index: 9999;
  right: 10px;
  top: 10px;

}